/*About*/
.about{

}/*Skills*/
.skills{

}
/*Languages*/
.languages{

}
/*Hobbies*/
.hobbies{

}
/* redes sociales*/
.linkedin a{
	background: url('../images/linkedin.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.facebook a{
	background: url('../images/facebook.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.github a{
	background: url('../images/github.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.twitter a{
	background: url('../images/twitter.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
/*footer*/
.footer{
	background-color: #252525;
	padding-top: 50px;
	padding-bottom: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.copy{
	color: #555555;
	margin-left: 50px;
}
.contacto{
	color: #d5d4cd;
	margin-left: 25px;
	text-decoration: none;
}
