/*Estilos generales*/

*{
	box-sizing: border-box;
}
body{
	background-color: #FFFEFA;
	margin: 0;
	padding: 0;
	font-family: 'Gabriela', serif;
}
main{
	padding-top: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/*Estilos generales de la sección de desplegables*/
.title-container{
	padding-left: 20px;
	margin-bottom: 10px;
	width: 90%;
	height: 40px;
	background-color: #7DBEA5;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
}
.title-container:hover {
  border-top-color: #5A392B;
  background: #5A392B;
  color: #ccc;
}

.title-container:active {
	border-top-color: #5A392B;
	background: #5A392B;
}
.open-section-button{
	background: none;
	border: none;
	margin-left: auto;
}
.close-section-button{
	background: none;
	border: none;
}
.cruz-section-button{
	background: none;
	border: none;
	margin-top: 10%;
	margin-left: 70%;
	cursor: pointer;
}
.inputs{
	display: flex;
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	width: 225px;
}

/*Botones añadir y guardar*/
.buttons-save-general {
	background-color: #E1F7E7;
	padding: 5px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	box-shadow: #E1F7E7 0 1px 0;
	display: inline-block;
	margin: 13px 0;
	width: 70px;
	border-radius:7px;
}
.buttons-save-general:hover {
	background: #7DBEA5;
  box-shadow: inset 0 0 20px #7DBEA5, 0 0 20px #7DBEA5;
  outline-offset: 80px;
	color: #fff;
	font-weight: bold;
	border-color:#7DBEA5;
}
/*Ocultar secciones*/
.boxes-container, .netsocialhidden, .invisible,#languages-form, #hobbies-form, #read, #travel, #game, #sports, #cinema, #music, #files, #ventana2 {
	display: none;
}

.visible {
	display: block;
}
/*Fin estilos generales*/
/*Header logo formulario*/
.headlog{
	min-width: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.containerlogo{
	display: flex;
	flex-direction: row;
}
.machinelog{
	margin-top: 5px;
	display: block;
	margin-left: 5px;
	max-width: 60px;
	width: 100%;
}
.letterslog{
	margin top: 10px;
	margin-left: 5px;
	margin-right: 10px;
	max-width: 150px;
	width: 100%;
	margin-top: 10px;
}
.icons{
	height: 18px;
  width: 18px;
  margin-left: 5px;
  background-size: cover;
  align-items: flex-end;
  text-align: center;
  background-color: transparent;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
}
/*header parte marta*/
#btnview{
	background-image: url("../images/btnfile2.png");
}
#btnshare{
		background-image: url("../images/btnshare2.png");
}
#btnprint{
		background-image: url("../images/btnprint2.png");
}
#btndownload{
		background-image: url("../images/btndownload2.png");
}

header{
	width: 100%;
	height: 60px;
	background-color: #2E2B24;
	position: fixed;
	display: flex;
	justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
	padding-top: 0px;
	margin-top: 0px;
  z-index: 99;
	padding-right: 10px;
}
.headercreatucv{
	background-image: url(../images/groupMobile.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 80vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 5px;
}

.textcrea{
	display: flex;
	align-self: flex-start;
	margin-top: 20%;
	margin-left: 20px;
	font-size: 1.5em;
	font-family: 'Arial';
}
.imgcrea{
	width: 100%;
	height: 200px;
}
/* cargar imagen*/
.thumb{
	border: 1px solid #000;
	margin: 10px 5px 0 0;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-box-shadow: 8px 14px 42px 1px #3d3d29;
}
/*fin cargar imagen*/
.separador {
	border: 3px;
	background-color: #7DBEA5;
  border-radius: 90px /30px;
	height: 5px;
	width: 60%;
	text-align: center;
	margin-top: 2.5em;
	margin-bottom: 1em;
}
.containerinfo{
	display: flex;
	flex-direction: column;
}
.containerfoto{
	display: flex;
	justify-content: center;
}
.form{
	display: flex;
	justify-content: center;
}
.name{
	font-size: 20px;
	font-weight: bold;
}
.datosprin{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.foto{
	width: 200px;
  height: 200px;
	border-radius: 100px;
	margin-top: 40px;
	-webkit-box-shadow: 5px 8px 42px 1px #3d3d29;
	display: flex;
	align-self: center;
	background-image: url("../images/addimg.png");
	background-color: #cdf7e6;
	background-size: 150px;
	background-repeat: no-repeat;
	background-position: center;
}

.subirfoto{
	width: 95px;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 5px 8px 42px 1px #3d3d29;
}

/*styles pre*/
.preprincipales {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.preprincipales p{
	margin: 2px;
	margin-top: 20px;
}
.containerprefoto{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -20px;
}
.thumb2{
	border: 1px solid #000;
	margin: 10px 5px 0 0;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-box-shadow: 8px 14px 42px 1px #3d3d29;
}
/*ventana previsualizar*/
	.textcrea{
		font-size: 40px;
		margin-top: 50px;
	}
}
@media all and (min-width: 810px){
	.headercreatucv{
		height: 120vh;
	}
}
@media all and (min-width: 900px){
	.headercreatucv{
		height: 120vh;
		width: 100%;
	}
	#ventana2{
		display: block;
	}
}
/*fin parte marta*/


/*Estilos generales de la sección de desplegables*/
.title-container{
	padding-left: 20px;
	margin-bottom: 10px;
	width: 90%;
	height: 40px;
	background-color: #7DBEA5;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
}
.title-container:hover{
  border-top-color: #5A392B;
  background: #5A392B;
  color: #ccc;
  }
.title-container:active {
	border-top-color: #5A392B;
	background: #5A392B;
	}
.open-section-button{
	background: none;
	border: none;
	margin-left: auto;
}
.close-section-button{
	background: none;
	border: none;
}
.cruz-section-button{
	background: none;
	border: none;
	margin-top: 30px;
	margin-left: 400px;

}

/*Botones añadir y cerrar*/
.save-button, .out-button, .guardarprincipal {
	background-color: ;
	padding: 5px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	display: inline-block;
	margin: 13px 0;
	width: 70px;
}
.save-button:hover, .out-button:hover, .guardarprincipal:hover {
	background: #7DBEA5;
  box-shadow: inset 0 0 20px #7DBEA5, 0 0 20px #7DBEA5;
  outline-offset: 80px;
	color: #fff;
	font-weight: bold;
	border-color:#7DBEA5;
}
/*Ocultar sección*/

.content, .boxes-container, .netsocialhidden, #languages-form, #hobbies-form, #read, #travel, #game, #sports, #cinema, #music {
	display: none;
}

.allHobbiesPreview {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

/*Fin de estilos generales*/
/*About*/
.aboutMe{
	display: block;
}
#aboutMe-preview{
	color: black;
}

/*Experience and Education form*/
.form-section-container{
	display:flex;
	flex-direction: column;
	align-items: center;
}
.boxes-container{
	padding-left: 5%;
}
.subtitle-section{
	margin: 10px 0;
	text-align: center;
}
.dates-boxes{
	margin: 8px 8px;
	width: 200px;
	padding: 3px;
	text-align: center;
}
.select-styles{
text-shadow: rgba(0,0,0,.4) 0 1px 0;
padding: 2px;
border: solid 1px;
background-color: #fff;
border-radius: 5px;
}
.buttons-container{
	margin: 10px 0px;
	display: flex;
  flex-direction: row;
  justify-content: center;
}
.month, .year{
	margin-top: 5px;
}

/*Experience and Education preview*/
.section-title{
text-align: center;
color: #5A392B;
}
/* La timeline*/
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* La propia timeline (línea vertical) */
.timeline::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: #5A392B;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/*Checkbox styles*/

.checkBoxHobbies {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4%;
}

input[type=checkbox]
{
  -webkit-transform: scale(1.2); /* Safari and Chrome */
	color: #000000;
}

/* Contenido alrededor de la timeline */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* Círculos de la timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #5A392B;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Situar los contenidos de la izquierda*/
.left {
  left: 0;
}

/* Situar los contenidos de la derecha */
.right {
  left: 50%;
}
/* Arregla la posición de los círculos del contenido de la derecha */
.right::after {
  left: -16px;
}
/* Añade flechas en el contenido de la izquierda apuntando a la derecha */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgba(125, 190, 165, 0.36);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(125, 190, 165, 0.36);
}
/* Añade flechas en el contenido de la derecha apuntando hacia la izquierda. */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgba(125, 190, 165, 0.36);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(125, 190, 165, 0.36) transparent transparent;
}
/* Estilo de las cajas con el contenido */
.content-timeline {
  padding: 10px 30px;
  background-color: rgba(125, 190, 165, 0.36);
  position: relative;
  border-radius: 6px;
	font-size: 14px;
}
.dates-container {
	display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0px;
  margin-bottom: 7px;
	margin-top: 5px;
}
/*Estilos de texto dentro de cajas*/
.title-year{
  color: #5A392B;
	margin: 8px;
	font-size: 20px;
}
.job-title, .education-title{
  font-weight: bold;
}
.dates-output-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
	padding: 0 20px;
	margin: 4px 40px;
}
.work-information-output-container{
  display:flex;
  flex-direction: column;
  align-items: center;
 }
.work-information-output-container > p{
  margin-top: 0px;
	text-align: center;
}
/*End Experience and Education preview*/
/*Skills*/

#skillPreview{
	display: flex;
	flex-direction: column;
	align-items: center;
	display: block;
}
.skill {
  margin-top: 5px;
	margin-right: 1%;
	color: #5A392B;
}
.skill-pre{
	margin-left: 7%;
}
.skill_title {
  /*font-family: sans-serif;*/
  font-size: 14px;
	margin-top: 5px;
}
.barra {
  background-color: #E0E0E0 ;
  border-radius: 10px;
  width: 94%;
  height: 10px;
  margin-left: 0;
  position: relative;
	display: flex;
	margin-top: 5px;
}

.barra_front {
	width: 0;
  /* background: green; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: #7DBEA5;
}

/*Languages form container*/
#languagesFormContainer, #hobbiesFormContainer {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.textFormButton {
	color: #ffffff;
}

#languagesPreview, #hobbiesPreview {
	padding-left: 7%;
	padding-right: 7%;
}

.languagesBarPreview {
	background-color: #eeeeee;
	margin-bottom: 1em;
}

.textBarPreview {
	text-align: left;
	color: #ffffff;
	line-height: 2em;
	padding-left: 1em;
}

.percentageBar {
	width: 50% ;
	background-color: #5a392b;
}

.input-lang, .input-skill{
	padding-bottom: 1em;
}
/*Hobbies*/
.allHobbiesPreview {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#hobbies-form {
	padding-bottom: 2%;
}

/* Redes sociales*/
.nets{
	display: flex;
	justify-content: space-between;

}
.social {
	display: flex;
	justify-content: space-between;
	width: 70%;
}
.linkedin a{
	background: url('../images/linkedin.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.facebook a{
	background: url('../images/facebook.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.github a{
	background: url('../images/github.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.twitter a{
	background: url('../images/twitter.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.instagram a{
	background: url('../images/instagram.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.socialLabel{
	margin-top: 7px;
	margin-right: 10px;
}
.codigoqr > img{
	width: 120px;
	height: 120px;
}
.inputPortfolio{
	display: flex;
	text-align: center;
	font-size: 15px;
	margin-top: 13px;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	width: 225px;
	height: 28px;
	margin-right: 8px;
}
/*footer*/
.infooter{
	background-color: #252525;
	font-size: 0.8em;
	color: #555555;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.end{
	margin-left: auto;
	margin-right: auto;
	/*width: 100%;
	font-size: 0.8em;
  color: #555555;
	display: flex;
	flex-direction: column;
  justify-content: flex-start;
  align-items: center;*/
}
.contacto{
	color: #d5d4cd;
	text-decoration: none;
	margin-top: 20px;
}
.contacto:hover{
	color: #7DBEA5;
}
.logo{
	min-width: 200px ;
	margin-left: auto;
	margin-right: auto;
}
.logoadalab{
	display: block;
	margin: 5px auto;
	max-width: 200px;
	width: 75%;
}
/*flecha subir arriba*/
#arriba {
	 width: 5px;
	 padding: 5px;
	 position: fixed;
	 bottom: 15px;
	 right: 45px;
	 z-index: 1;
	 opacity: 0.9;
}
#arriba img{
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 17px;
}
/*formulario*/
.flexible{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	position: relative;
  height: 300px;
 }
 .flexible::before {
  content:'';
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 103%;
  background: url(../images/vintage8.jpg) left top no-repeat;
  background-size: 100% auto;
  z-index: 1;
  opacity: .5;
}
.seccion{
	padding: 60px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
  z-index: 2;

}
.titleForm{
	text-align: center;
}
.texto-formulario{
	margin: 15px 35px;
}
.formulario{
	width: 50%;
}
.complete{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.cajas{
  width: 100%;
	background-color: #F4EDDD;
	border: solid 1px #514336;
	padding: 0 12px;
	height: 40px;
	border-radius: 9px;
	font:15px arial ;
}
#comentarios{
	height: 80px;
	padding-top: 6px;
}
.cajas:focus{
	border-color: #514336;
}
.campos{
 margin: 0 0 1.5rem;
 display: flex;
 flex-direction: row;
}
.boton{
	color: #514336;
	background-color: #7DBEA5;
	font-size: 15px;
	font-weight: bold;
	z-index: 1;
	line-height: 2.8;
  border-radius: 0.6em;
	width: 100px;
  margin-left: auto;

}
/*mediaqueries*/
@media all and (min-width: 350px){
	.headlog{
		display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
		}
	.containerlogo{
		margin-left: 30px;
	}
	.containericonos{
		margin-right: 20px;
	}

}
@media all and (min-width: 400px){
	.headercreatucv{
	height: 60vh;
	}
}
@media all and (min-width: 460px){
#arriba {
	 bottom: 15px;
	 right: 27px;
 }

}
@media all and (min-width: 490px){
	.headercreatucv{
	height: 80vh;
	}
}
	/*.textcrea{
		font-size: 40px;
		margin-top: 50px;
	}*/

@media all and (max-width: 600px){
	.textFormButton{
		font-size: 18px;
	}
	/*Mediaqueries de preview de Experiencia y Formación*/
	/* Poner la línea a la izquierda */
	.timeline::after {
		left: 31px;
	}
	/* Para que se ajusten los contenedores a la pantalla */
	.container-timeline {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	/* Poner los contenedores de la derecha debajo de los de la izquierda */
	.right {
		left: 0%;
	}
	/* Para que todas las flechas apunten a la izquierda */
	.container-timeline::before {
		left: 60px;
		border: medium solid rgba(125, 190, 165, 0.36);
		border-width: 10px 10px 10px 0;
		border-color: transparent rgba(125, 190, 165, 0.36) transparent transparent;
	}
	/* Para que todos los círculos estén alineados */
	.left::after, .right::after {
		left: 15px;
	}
}

@media all and (min-width:600px) {
	.sociality {
		display: flex;
		justify-content: space-around;
	}
	.social {
		width: 300px;
	}
	/*Footer*/
	.infooter{
		display: flex;
		flex-direction: row;
	}
	#arriba {
		 width: 5px;
		 padding: 5px;
		 position: fixed;
		 bottom: 15px;
		 right: 45px;
		 z-index: 1;
		 opacity: 0.9;
	}
}
@media all and (min-width: 810px){
	.headercreatucv{
		height: 120vh;
	}
}

@media all and (min-width:900px) {
	.headercreatucv{
		width: 100%;
		background-image: url(../images/group.png);
		height: 95vh;
	}
	.main-web-sections{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
}
	#ventana2{
		display: block;
		}
	main{
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}
	.formulario-sec{
	height: 100%;
	width: 40%
	}
	.previsualizacion-sec{
		height: 100%;
		width: 50%
	}
	.cruz-section-button{
		margin-top: 0%;
		margin-left: 90%;
}
	.separador{
		margin-top: 1.5em;
}
	/*Footer*/
	.logo{
		margin-right:120px;
	}
	.end{
		margin-left: auto;
	}
	.social {
		width: 300px;
	}
	.sociality{
		display: flex;
		justify-content:space-between;
	}

.textcrea {
	margin-top: 5%;
	margin-left: 20px;
	font-size: 3em;
}

.input-lang, .input-skill{
	display:flex;
}

.language{
	margin-right: 1%;
}

@media print {
	header, footer, nav {
  display: none;
}
.formulario-sec {
	  display: none;
	}
}
