body{
background-color: #FFFEFA;
}
/*header*/
header{
	width: 100%;
	height: 50px;
	background-color: grey;
	position: fixed;
	display: flex;
  justify-content: space-between;
  flex-direction: column;
	padding-top: 0px;
	margin-top: 0px;
  z-index: 1;
}
main{
	padding-top: 50px;
	box-sizing: border-box;
height: 100vh;

}
.formulario-sec{
height: 50%;
overflow: scroll;
}

.previsualizacion-sec{
height: 50%;
overflow: scroll;
}

/*Estilos generales de la sección de desplegables*/

.title-section{
	max-width: 250px;
	border-top: 1px solid #a19680;
	background: #a19680;
	background: -webkit-linear-gradient(top, #c2b8a3, #a19680);
	background: -moz-linear-gradient(top, #c2b8a3, #a19680);
	background: -ms-linear-gradient(top, #c2b8a3, #a19680);
	background: -o-linear-gradient(top, #c2b8a3, #a19680);
	padding: 9px 18px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 20px;
	vertical-align: middle;
	}
.title-section:hover {
   border-top-color: #6f1614;
   background: #6f1614;
   color: #ccc;
   }
.title-section:active {
   border-top-color: #6f1614;
   background: #6f1614;
   }

/*About*/
.about{

}
/*Experience*/


/*Education*/

/*Skills*/
.skills{

}
/*Languages*/
.languages{

}
/*Hobbies*/
.hobbies{

}
/* Redes sociales*/
.linkedin a{
	background: url('../images/linkedin.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.facebook a{
	background: url('../images/facebook.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.github a{
	background: url('../images/github.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.twitter a{
	background: url('../images/twitter.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
/*footer*/
.footer{
	background-color: #252525;
	padding-top: 50px;
	padding-bottom: 50px;
	box-sizing: border-box;
	display: flex;
}
.end{
	width: 100%;
	padding: 15px;
	display: flex;
  justify-content: flex-start;
  align-items: center;
}
.copy{
	color: #555555;
	margin-left: 50px;
}
.contacto{
	color: #d5d4cd;
	margin-left: 25px;
	text-decoration: none;
}
.logo{
	width: 100%;
	margin-right:50px;
	display: flex;
	justify-content: flex-end;
}
/*formulario*/
.seccion{
	padding: 90px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.texto-formulario{
	margin: 15px 35px;
}
.formulario{
	width: 50%;
}
.cajas{
width: 100%;
	background-color: #f5f5f5;
	border:1px;
	padding: 0 12px;
	height: 40px;
	border-radius: 3px;
}
.cajas:focus{
	border-color: #6F1514;
}
.campos{
 margin: 0 0 1.5rem;
 display: flex;
 flex-direction: row;
}
label{
	width: 40%
}
.boton{
	color: white;
	background-color: #6F1514;
	font-size: 15px;
	font-weight: bold;
	line-height: 2.8;
  border-radius: 0.33em;
}
