/*Estilos generales*/

*{
	box-sizing: border-box;
}
body{
	background-color: #FFFEFA;
	margin: 0;
	padding: 0;
	font-family: 'Gabriela', serif;
}
main{
	padding-top: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#empty-container {
	height: 70px;
}
@font-face {
font-family: 'American Typewriter Bold';
font-style: normal;
font-weight: normal;
src: local('American Typewriter Bold'), url('ufonts.com_american-typewriter-bold.woff') format('woff');
}
/*Estilos generales de la sección de desplegables*/
.title-container {
	padding-left: 20px;
	margin-bottom: 10px;
	width: 90%;
	height: 40px;
	background-color: #7DBEA5;
	border-radius: 8px;
	display: flex;
	align-items: center;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
}
.title-container:hover {
  border-top-color: #5A392B;
  background: #5A392B;
  color: #ccc;
}
.title-container:active {
	border-top-color: #5A392B;
	background: #5A392B;
}
.open-section-button {
	background: none;
	border: none;
	margin-left: auto;
}
.close-section-button {
	background: none;
	border: none;
	margin-left: auto;
}
.cruz-section-button {
	background: none;
	border: none;
	margin-top: 10%;
	cursor: pointer;
	margin-top: 30px;
}
.inputs {
	display: flex;
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	width: 225px;
	font-style: arial;
}
/*botones compartir en redes sociales*/
#btrs{ text-align:center;}.sl:hover, .lkdn:hover, .fb:hover, .twtr:hover, .glg:hover,.pnt:hover {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);transition:all .3s ease-out;-moz-transition: all .5s;-webkit-transition: all .5s;}
/*Botones añadir y guardar*/
.buttons-save-general {
	background-color: #E1F7E7;
	padding: 5px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	box-shadow: #E1F7E7 0 1px 0;
	display: inline-block;
	margin: 13px 0;
	width: 70px;
	border-radius:7px;
}
.buttons-save-general:hover {
	background: #7DBEA5;
  box-shadow: inset 0 0 20px #7DBEA5, 0 0 20px #7DBEA5;
  outline-offset: 80px;
	color: #fff;
	font-weight: bold;
	border-color:#7DBEA5;
}
/*Ocultar secciones*/
.net-social-hidden, .invisible, #languages-form, #hobbies-form, #read, #travel, #game, #sports, #cinema, #music, #files, #ventana2 {
	display: none;
}
.visible {
	display: block;
}
.shown{
	/*visibility: visible;*/
	display: block;
}
.hidden{
	/*visibility: hidden;*/
	display: none;
}
/*Fin estilos generales*/
/*Header logo formulario*/
.headlog{
	height: 70px;
	min-width: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.containerlogo{
	display: flex;
	flex-direction: row;
}
.machinelog{
	margin-top: 5px;
	display: block;
	margin-left: 5px;
	max-width: 60px;
	width: 100%;
}
.letterslog{
	margin top: 10px;
	margin-left: 5px;
	margin-right: 10px;
	max-width: 150px;
	width: 100%;
	margin-top: 10px;
}
.icons{
	height: 30px;
  width: 30px;
  margin-left: 5px;
  background-size: cover;
  align-items: flex-end;
  text-align: center;
  background-color: transparent;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
}
.iconsprev{
	height: 30px;
  width: 30px;
  margin-left: 5px;
  background-size: cover;
  align-items: flex-end;
  text-align: center;
  background-color: transparent;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer
}
/*header parte marta*/
.containericonos{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cajaiconsprev{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: baseline;
	margin-bottom: 50px;
	margin-left: 75px;
	margin-top: 10px;
	margin-right: 17px;
}
#btnview{
	background-image: url("../images/btnfile2.png");
}
#btnshare{
	background-image: url("../images/btnshare2.png");
	display: none;
}
#btnprint{
	background-image: url("../images/btnprint2.png");
	display: none;
}
#btndownload{
	background-image: url("../images/btndownload2.png");
	display: none;
}
#btnshareprev{
	background-image: url("../images/btnshare3.png");
	display: block;
}
#btnprintprev{
	background-image: url("../images/btnprint3.png");
	display: block;
}
#btndownloadprev{
	background-image: url("../images/btndown.png");
		display: block;
}
header{
	width: 100%;
	height: 60px;
	background-color: #2E2B24;
	position: fixed;
	display: flex;
	justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
	padding-top: 0px;
	margin-top: 0px;
  z-index: 99;
	padding-right: 10px;
}
#header-fondo {
	background-image: url(../images/groupMobile.png);
	background-position: center;
	background-size: cover;
	height: 80vh;
	margin-bottom: 5px;
}
.text-crea {
	margin-top: 20%;
	margin-left: 20px;
	font-size: 1.5em;
	font-family: 'American Typewriter Bold', Arial;
	font-weight: bold;
	color: #5a392b;
}
#button-down {
	background: none;
	border: none;
}
/* cargar imagen*/
.thumb{
	border: 1px solid #000;
	margin: 10px 5px 0 0;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-box-shadow: 8px 14px 42px 1px #3d3d29;
}
/*fin cargar imagen*/
.separador {
  color: #7DBEA5;
	width: 100%;
	text-align: center;
}
.containerinfo{
	display: flex;
	flex-direction: column;
}
.containerfoto{
	display: flex;
	justify-content: center;
}
.name{
	font-size: 20px;
	font-weight: bold;
}
.datosprin{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.foto{
	width: 200px;
  height: 200px;
	border-radius: 100px;
	margin-top: 40px;
	-webkit-box-shadow: 5px 8px 42px 1px #3d3d29;
	display: flex;
	align-self: center;
	background-image: url("../images/addimg.png");
	background-color: #cdf7e6;
	background-size: 150px;
	background-repeat: no-repeat;
	background-position: center;
}
.subirfoto{
	width: 95px;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 5px 8px 42px 1px #3d3d29;
}
/*styles pre*/
.preprincipales p{
	margin: 2px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.containerprefoto{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -20px;
}
.thumb2{
	border: 1px solid #000;
	margin: 10px 5px 0 0;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-box-shadow: 8px 14px 42px 1px #3d3d29;
}
/*ventana previsualizar*/
.textcrea{
	font-size: 40px;
	margin-top: 50px;
	}
/*fin parte marta*/

.all-hobbies-preview {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
/*Fin de estilos generales*/

/*ABOUT*/
.textarea {
	font-family: arial;
	font-size: 15px;
}
#aboutMe-preview{
	text-align: justify;
	display: flex;
	justify-content: center;
	margin:0;
	color: black;
}
/*Experience and Education form*/
.form-section-container{
	display:flex;
	flex-direction: column;
	align-items: center;
}
.boxes-container{
	display: none;
	padding-bottom: 10px;
}
.subtitle-section{
	margin: 10px 0;
	text-align: center;
}
.dates-boxes{
	margin: 8px 8px;
	width: 200px;
	padding: 3px;
	text-align: center;
}
.select-styles{
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	padding: 2px;
	border: solid 1px;
	background-color: #fff;
	border-radius: 5px;
}
.buttons-container{
	margin: 10px 0px;
	display: flex;
  flex-direction: row;
  justify-content: center;
}
.month, .year{
	margin-top: 5px;
}
/*Experience and Education preview*/
.section-title{
	text-align: center;
	color: #5A392B;
}
/* La timeline*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/* La propia timeline (línea vertical) */
.timeline::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: #5A392B;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/*Checkbox styles*/
.check-box-hobbies {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4%;
}
input[type=checkbox]{
	-webkit-transform: scale(1.2); /* Safari and Chrome */
	color: #000000;
}
/* Contenido alrededor de la timeline */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* Círculos de la timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #5A392B;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Situar los contenidos de la izquierda*/
.left {
  left: 0;
}
/* Situar los contenidos de la derecha */
.right {
  left: 50%;
}
/* Arregla la posición de los círculos del contenido de la derecha */
.right::after {
  left: -16px;
}
/* Añade flechas en el contenido de la izquierda apuntando a la derecha */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgba(125, 190, 165, 0.36);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(125, 190, 165, 0.36);
}
/* Añade flechas en el contenido de la derecha apuntando hacia la izquierda. */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgba(125, 190, 165, 0.36);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(125, 190, 165, 0.36) transparent transparent;
}
/* Estilo de las cajas con el contenido */
.content-timeline {
  padding: 10px 30px;
  background-color: rgba(125, 190, 165, 0.36);
  position: relative;
  border-radius: 6px;
	font-size: 14px;
}
.dates-container {
	display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0px;
  margin-bottom: 7px;
	margin-top: 5px;
}
/*Estilos de texto dentro de cajas*/
.title-year {
  color: #5A392B;
	margin: 8px;
	font-size: 20px;
}
.job-title, .education-title {
  font-weight: bold;
}
.dates-output-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
	padding: 0 20px;
	margin: 4px 40px;
}
.work-information-output-container{
  display:flex;
  flex-direction: column;
  align-items: center;
 }
.work-information-output-container > p{
  margin-top: 0px;
	text-align: center;
}
/*End Experience and Education preview*/
/*SKILLS*/
.section-skills {
	margin-left: 15px;
	margin-right: 20px
}
.skill {
  margin-top: 5px;
	margin-right: 1%;
	color: #5A392B;
}
.skill-pre {
	margin-left: 15%;
}
.skill-title {
  /*font-family: sans-serif;*/
  font-size: 14px;
	margin-top: 5px;
}
.barra {
  background-color: #E0E0E0 ;
  border-radius: 10px;
  width: 85%;
  height: 10px;
  margin-left: 0;
	margin-right: 0;
  position: relative;
	display: none;
	margin-top: 5px;
}
.barra_front {
	width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: #7DBEA5;
}
/*Languages form container*/
#languages-form-container, #hobbies-form-container {
	display:flex;
	flex-direction: column;
	align-items: center;
}
.text-form-button {
	color: #ffffff;
}
#languages-preview, #hobbies-preview {
	padding-left: 7%;
	padding-right: 7%;
}
.languages-bar-preview {
	background-color: #eeeeee;
	margin-bottom: 1em;
}
.text-bar-preview {
	text-align: left;
	color: #ffffff;
	line-height: 2em;
	padding-left: 1em;
}
.percentage-bar {
	background-color: #5a392b;
}
.input-lang, .input-skill{
	padding-bottom: 1em;
}
/*Hobbies*/
.all-hobbies-preview, .socialNetworks, .social {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#hobbies-form {
	padding-bottom: 2%;
}

.linkedin a{
	background: url('../images/linkedin.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.facebook a{
	background: url('../images/facebook.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.github a{
	background: url('../images/github.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.twitter a{
	background: url('../images/twitter.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.instagram a{
	background: url('../images/instagram.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.socialLabel{
	margin-top: 7px;
	margin-right: 10px;
}
.codigoqr > img{
	width: 120px;
	height: 120px;
}
.inputPortfolio{
	display: flex;
	text-align: center;
	font-size: 15px;
	margin-top: 13px;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	width: 225px;
	height: 28px;
	margin-right: 8px;
}
/*Ventana de alert de error de fecha introducida*/
.alert-dates{
	background-color: #FFFEFA;
	width: 230px;
  height: 110px;
  position: fixed;
  top: 220px;
  left: 17%;
	border: 2px solid #7DBEA5;
}
.button-alert-img{
	background-color: transparent;
  border: none;
	position: absolute;
	top: 3px;
  right: 0;
	cursor: pointer;
}
.text-alert{
	font-size: 13px;
  margin: 30px 30px;
  text-align: justify;
  color: #e64d4d;
	font-weight: bold;
}
.alert-cruise{
	width: 20px;
  height: 20px;
}
/*footer*/
.infooter{
	background-color: #252525;
	font-size: 0.8em;
	color: #555555;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.end{
	margin-left: auto;
	margin-right: auto;
}
.contacto{
	color: #d5d4cd;
	text-decoration: none;
	margin-top: 20px;
}
.contacto:hover{
	color: #7DBEA5;
}
.logo{
	min-width: 200px ;
	margin-left: auto;
	margin-right: auto;
}
.logoadalab{
	display: block;
	margin: 5px auto;
	max-width: 200px;
	width: 75%;
}
/*flecha subir arriba*/
#arriba {
	width: 5px;
	padding: 5px;
	position: fixed;
	bottom: 15px;
	right: 45px;
	z-index: 1;
	opacity: 0.9;
}
#arriba img{
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 30px;
	margin-bottom: 60px;
}
/*formulario*/
.flexible{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	position: relative;
  height: 300px;
 }
 .flexible::before {
  content:'';
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 103%;
  background: url(../images/groupMobile.png) left top no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: .5;
}
.seccion{
	padding: 60px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
  z-index: 2;
}
.titleForm{
	text-align: center;
}
.texto-formulario{
	margin: 15px 35px;
}
.formulario{
	width: 50%;
}
.complete{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.cajas{
  width: 100%;
	background-color: #F4EDDD;
	border: solid 1px #514336;
	padding: 0 12px;
	height: 40px;
	border-radius: 9px;
	font:15px arial ;
}
#comentarios{
	height: 80px;
	padding-top: 6px;
}
.cajas:focus{
	border-color: #514336;
}
.campos{
 margin: 0 0 1.5rem;
 display: flex;
 flex-direction: row;
}
.boton{
	color: #514336;
	background-color: #7DBEA5;
	font-size: 15px;
	font-weight: bold;
	z-index: 1;
	line-height: 2.8;
  border-radius: 0.6em;
	width: 100px;
  margin-left: auto;
}
/*mediaqueries*/
@media all and (min-width: 350px){
	.headlog{
		display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
		}
	.containerlogo{
		margin-left: 30px;
	}
	.containericonos{
		margin-right: 20px;
	}
}
@media all and (min-width: 400px){
	.headercreatucv{
	height: 60vh;
	}
}
@media all and (max-width: 430px){
	.nets{
		display: flex;
		flex-direction: column;
	 }
}
@media all and (min-width: 460px){
	#arriba {
		 bottom: 15px;
		 right: 27px;
	}
}
@media all and (min-width: 490px){
	.headercreatucv{
		height: 80vh;
	}
}
	/*.textcrea{
		font-size: 40px;
		margin-top: 50px;
	}*/
@media all and (max-width: 600px){
	.text-form-button{
		font-size: 18px;
	}
	.icons{
		height: 28px;
	  width: 28px;
	}
	/*Mediaqueries de preview de Experiencia y Formación*/
	/* Poner la línea a la izquierda */
	.timeline::after {
		left: 31px;
	}
	/* Para que se ajusten los contenedores a la pantalla */
	.container-timeline {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	/* Poner los contenedores de la derecha debajo de los de la izquierda */
	.right {
		left: 0%;
	}
	/* Para que todas las flechas apunten a la izquierda */
	.container-timeline::before {
		left: 60px;
		border: medium solid rgba(125, 190, 165, 0.36);
		border-width: 10px 10px 10px 0;
		border-color: transparent rgba(125, 190, 165, 0.36) transparent transparent;
	}
	/* Para que todos los círculos estén alineados */
	.left::after, .right::after {
		left: 15px;
	}
}
@media all and (min-width:600px) {
	#header-fondo {
		background-image: url(../images/group.png);
		height: 100vh;
	}
	#button-down {
		display: none;
	}
	#empty-container {
		height: 20px;
	}
	.text-crea {
		margin-top: 15%;
		margin-left: 20px;
		font-size: 2em;
	}

	/*Footer*/
	.infooter{
		display: flex;
		flex-direction: row;
	}
	#arriba {
		width: 5px;
		padding: 5px;
		position: fixed;
		bottom: 15px;
		right: 45px;
		z-index: 1;
		opacity: 0.9;
	}
}
@media all and (min-width: 810px){
	.headercreatucv{
		height: 500vh;
	}
	.headlog{
		height: 100px;
	}
	.cajaiconsprev{
		margin-top: 37px;
	}
	.icons{
		height: 34px;
		width: 34px;
		margin: 8px;
	}
	.containerlogo{
		height: 80px;
		width: 41%;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.machinelog{
		max-width: 85%;
		margin: 0px;
		padding: 3px;
	}
	.containerleters{
			width: 1000px;
	}
	.letterslog{
		max-width: 100%;
		padding-top: 10px;
		padding-left: -5px;
	}
}
@media all and (min-width:900px) {
	.headercreatucv{
		height: 120vh;
		width: 100%;
	}
	#ventana2, #btnshare, #btnprint, #btndownload {
		display: block;
	}
	#btnshareprev, #btnprintprev, #btndownloadprev {
		display: none;
	}
	.containerlogo{
		height: 80px;
		width: 41%;
		margin-bottom: 8px;
	}
	.machinelog{
		max-width: 74%;
	}
	.containerleters{
		width: 1000px;
	}
	.letterslog{
		max-width: 100%;
		padding-top: 10px;
		padding-left: -5px;
	}
	#header-fondo{
		width: cover;
		background-image: url(../images/group.png);
		height: 100vh;
	}
	.flexible::before{
		left: 0;
		top: 0;
		background: url(../images/group.png) left top no-repeat;
		background-size: cover;
	}
	.text-crea {
		margin-top: 10%;
		margin-left: 20px;
		font-size: 2.1em;
	}
	.main-web-sections {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 67px;
	}
	main {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}
	.skill, .language, .skill-percent, .percentage {
		width: 160px;
	}
	.formulario-sec {
		height: 100%;
		width: 40%
	}
	.previsualizacion-sec{
		height: 100%;
		width: 50%
	}
	.cruz-section-button{
		display: none;
	}
	.separador{
		margin-top: 1.5em;
	}
	/*Footer*/
	.logo{
		margin-right:120px;
	}
	.end{
		margin-left: auto;
	}

	.input-lang, .input-skill{
		display:flex;
	}
	.language{
		margin-right: 1%;
	}
}
@media all and (min-width: 810px){
	.headercreatucv{
		height: 120vh;
	}
	.headlog{
		height: ;
	}
}
@media print {
	.barra, .content-timeline, .languages-bar-preview, .timeline, .printnet {
			-webkit-print-color-adjust: exact;
		}
	header, footer, nav {
		display: none;
	}
	.formulario-sec {
		  display: none;
	}
}
